<div class="mockmodal row">
  <input type="text" placeholder="Search my movies..." ng-model="searchText" class="col s6 offset-s2">
  <button class="waves-effect waves-light btn col s1 offset-s1" ng-click="submitSearchText()"><i class="material-icons">search</i></button>
</div>



<!-- Switch -->
<div class="switch mockmodal">
  <label>
    To Watch
    <input type="checkbox" ng-model="toggleView">
    <span class="lever"></span>
    Watched
  </label>
</div>

<div class="movie-display">
  <div ng-repeat="movie in watchListMovies">
    <div ng-hide="toggleView ? !movie.watched : movie.watched"  ng-mouseenter="trashHover($event)" ng-mouseleave="trashHoverOut($event)">

      <div class="card"> 
        <a class="btn-floating btn-large red accent-4  ng-hide delete-button" ng-click="deleteMovieFromWatchlist($index)">
          <i class="large material-icons">delete_forever</i>
        </a>

        <div class="card-image">
          <img src="{{movie.Poster}}">
        </div>
        <div class="card-content red accent-4">
          <p>{{movie.Title}}</p>
          <p>{{movie.Type}}</p>
          <p>{{movie.Year}}</p>
        </div>
      </div>

      <ul class="star-rating" ng-mouseleave="clearStars($index)">
        <li ng-repeat="star in movie.stars" class="star" ng-class="{filled: star.filled}" ng-click="ratecurrentSelectedMovie(movie, $index)" ng-mouseover="ratingPreviewFill($parent.$index, $index)">
          <i class="material-icons" ng-show="!star.filled">star_border</i>
          <i class="material-icons" ng-show="star.filled">star</i>
        </li>
      </ul>
    </div>
  </div>
</div>

