
<!-- Switch -->
<div class="switch">
  <label>
    To Watch
    <input type="checkbox" ng-model="toggleView">
    <span class="lever"></span>
    Watched
  </label>
</div>

<div class="movie-display">
  <div ng-repeat="movie in watchListMovies">
      <div class="card" ng-hide="toggleView ? !movie.watched : movie.watched">
        <div class="card-image">
          <img src="{{movie.Poster}}">
        </div>
        <div class="card-content red accent-4">
          <p>{{movie.Title}}</p>
          <p>{{movie.Type}}</p>
          <p>{{movie.Year}}</p>
        </div>
      </div>
    </div>
  </div>
