@import "../modules/colors";

#google-button {
  display: inline-block;
  margin: 0 40px 0 0;
  padding: 0;
  color: slategray;
  width: 150px;
  border: $button-border;
  border-radius: 3px;
  display: inline-block;
  height: $button-height;
  outline: 0;
  text-transform: uppercase;
  vertical-align: middle;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  -webkit-tap-highlight-color: transparent;

    span.icon {
      background: url('/img/g-logo.png') transparent 10px 50% no-repeat;
      background-size: 25px 25px;
      display: inline-block;
      vertical-align: middle;
      width: 50px;
      height: 25px;
      margin-bottom: 2px;
      margin-left: -10px;
    }

}

#customBtn:hover {
  cursor: pointer;
}

