@import "../modules/colors";


.main-container-bg {
    background: url(../img/film.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 500px;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    z-index: 1;
    -webkit-filter: opacity(.7);
    -webkit-filter: invert(1);
}

#main-container {
    width: 100%;
}

.main-container-movie {
    z-index: 9999;
    position: absolute;
    top: 64px;
    max-width: 90%;
    left: 2.5%; right: 0;
    height: 500px;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: rgba(112, 128, 144, .3);
    -webkit-filter: invert(1);

    margin: 30px;
    height: 500px;
    padding: 80px;
    text-align: center;

    color: white;
}
