@import "../modules/colors";


.card-movies-detail {
    position: sticky;
    top: -401px;
    background-color: rgba(0, 0, 0, .8);
    width: 175px;
    height: 325px;
    max-height: 325px;
    box-size: border-box;
    margin: 5px 15px;
    font-size: 10px;
    border-radius: 2px;
    padding: 0 5px;

    p:nth-of-type(1) {
        padding-top: 20px;
        font-size: 17px;
    }
}