@import "../modules/colors";

.details-watchlist {
    background-color: rgba(255, 255, 255, .7);
    color: teal;
    font-size: 30px  !important;
    font-family: "Amatic SC", cursive;

    &.card .card-title {
        font-size: 30px  !important;
    }

    p {
        font-family: "Roboto";
        font-size: 12px !important;
        line-height: -2px !important;
        display: inline-block;
        padding: 0;
        margin: 10px;
        font-style: normal !important;
    }

    i {
        display: inline-block;
        position: relative;
        top: 1.5px;
        margin: 0;
        padding: 0 2px;
        font-size: 15px;
    }


}