@import "../modules/colors";


nav {


    .nav-img {
        width: 4.6%;
        margin: 3px 15px;
        border-radius: 50%;
    }

    #main-nav-logo {
        top: -10px;
        padding-bottom: 0;
    }

    .subtitle {
        display: inline-block;
        position: absolute;
        top: 40px;
        left: 120px;
        margin: 0;
        font-size: 21px;
        font-family: 'Amatic SC', cursive;
    }


}