@import "modules/colors";

.star-rating {
  margin: 20px 10%;
  background-color: rgba(0, 0, 0, .9);
  border-radius: 7px;
  padding: 5px;
  display: block;
  width: 80%;

  
  .star {
    padding: 1px;
    color: #009688;
    text-shadow: .04em .04em rgba(0, 0, 0, .7);
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
  }

  .star i {
    font-size: 25px;
  }

  &.readonly .star.filled {
    color: #666;
  }
}
