@import "../modules/colors";

.login-reg {
    .pagination {
        margin: 10px auto;
        padding: 0 1px 4px;
        width: 25%;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 5px;

        .active {
            background-color: rgba(213, 0, 0, .9);
            margin-top: 4px;
        }

        .waves-effect {
            background-color: rgba(0, 0, 0, .09);
            margin-bottom: 2px;
        }
    }

    .btn {
        background-color: #d50000;
    }
}

#add-new-user {
    margin-left: -100px;
    width: 990px !important;
    min-width: 990px !important;

    .reg-form {
        margin-top: 20px;
        width: 45%;
        margin-right: 90px;
        float: right;
    }
}