@import "../modules/colors";

.login-reg {
    .pagination {
        margin: 10px auto;
        width: 18%;
        background-color: rgba(0, 0, 0, .2);
        border-radius: 5px;

        .active {
            background-color: rgba(213, 0, 0, .9);
        }
    }

    .btn {
        background-color: #d50000;
    }
}