@import "../modules/colors";

.mockmodal {
 box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.22), 0 12.5px px 0 rgba(0, 0, 0, 0.21);
 z-index: 1000;

 position: absolute;
 top: 1%;
 left: 27%;
 background-color: rgba(0, 0, 0, .9);
 color: white;
 padding: 2px;
 height: 70px;
 width: 50%;
 overflow-y: auto;
 border-radius: 10px;

 .btn {
    background-color: #009688;
    margin: 10px 20px;
 }

 &.switch {
    padding: 34px 8px 0;
    font-size: 13px;
    width: 17%;
    left: 81%;

    label {
        font-size: 13px;
    }

    i:nth-of-type(1) {
        font-size: 22px;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 25px;
    }

    i:nth-of-type(2) {
        font-size: 22px;
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 150px;
    }

    .lever {
        margin: -10px 12px !important;
        position: relative;
        top: -10px;
        left: 0;
        right: 0;
    }
 }
}

.mockmodal:focus {
 outline: none;
}