.main-container-bg {
  background: url(../img/film.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80%; }

#main-container {
  width: 100%; }

.main-container {
  position: relative;
  background-color: rgba(112, 128, 144, 0.3);
  margin-top: 20px;
  height: 500px;
  padding: 70px;
  text-align: center; }

.nav-img {
  width: 5.3%; }

.login-reg .pagination {
  margin: 10px auto;
  width: 18%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .login-reg .pagination .active {
    background-color: rgba(213, 0, 0, 0.9); }

.login-reg .btn {
  background-color: #d50000; }

body {
  background-color: #263238;
  font-family: 'Acme', sans-serif; }
