slick {
  width: 60%;
  max-width: 425px;
  height: 200px;
  max-height: 250px;
  margin: 40px;
  margin-left: 0;
  margin-right: 37px;
  padding: 0;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: -61px;
  left: -200px;
  color: white; }
  slick img {
    max-width: 420px;
    height: auto;
    margin-top: 40px; }
  slick a {
    text-decoration: none !important;
    text-align: center;
    color: white !important; }
  slick p {
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 6px;
    font-size: 25px;
    font-family: "Amatic SC", cursive; }
  slick button {
    visibility: hidden;
    position: relative;
    top: 100px; }

slick:hover {
  border: none; }

.errormodal {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.22), 0 12.5px px 0 rgba(0, 0, 0, 0.21);
  z-index: 1000;
  position: absolute;
  top: 20%;
  left: 27%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2px;
  height: 200px;
  width: 50%;
  overflow-y: auto;
  border-radius: 10px; }
  .errormodal .btn-floating {
    margin: 10px 20px;
    position: absolute;
    top: 5px;
    right: 5px; }
  .errormodal .mockmodal-content {
    display: inline-block;
    margin: 6.7%;
    margin-left: -15px;
    width: 60%; }
  .errormodal h4:nth-of-type(1) {
    font-family: 'Amatic SC', cursive;
    font-size: 35px; }
  .errormodal .errormodal-photo-container {
    max-width: 125px;
    min-width: 125px;
    margin: 9% 0 10% 20px;
    float: left;
    overflow: hidden;
    border-radius: 2px;
    height: 90px; }
  .errormodal .errormodal-photo {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    max-width: 150px;
    min-width: 150px; }

.mockmodal:focus {
  outline: none; }

#loaderDiv {
  position: fixed;
  top: 48%;
  left: 48%;
  z-index: 1100; }

.main-container-bg {
  background: url(../img/film.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 500px;
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  z-index: 1;
  -webkit-filter: opacity(0.7);
  -webkit-filter: invert(1); }

#main-container {
  width: 100%; }

.main-container-movie {
  z-index: 9999;
  position: absolute;
  top: 64px;
  max-width: 90.1%;
  left: 2.5%;
  right: 0;
  height: 500px;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: rgba(40, 46, 52, 0.6);
  -webkit-filter: invert(1);
  margin: 30px;
  height: 500px;
  padding: 80px;
  text-align: center;
  color: white; }

.card-movies-detail {
  position: sticky;
  top: -401px;
  background-color: rgba(0, 0, 0, 0.8);
  width: 175px;
  height: 325px;
  max-height: 325px;
  box-size: border-box;
  margin: 5px 15px;
  font-size: 10px;
  border-radius: 2px;
  padding: 0 5px; }
  .card-movies-detail p:nth-of-type(1) {
    padding-top: 20px;
    font-size: 17px; }

.details-watchlist {
  background-color: rgba(255, 255, 255, 0.7);
  color: teal;
  font-size: 30px  !important;
  font-family: "Amatic SC", cursive; }
  .details-watchlist.card .card-title {
    font-size: 30px  !important; }
  .details-watchlist i {
    font-family: "Roboto";
    font-size: 12px !important;
    line-height: -2px !important;
    display: inline-block;
    padding: 0;
    margin: 10px;
    font-style: normal !important; }

.movie-display {
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: row;
  max-width: 76em;
  overflow-y: hidden;
  overflow-x: auto;
  margin-top: 0; }
  .movie-display .card {
    width: 175px;
    min-width: 175px;
    height: 325px;
    margin: 5px 15px;
    font-size: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle; }
  .movie-display #no-movies {
    position: absolute;
    left: 40%;
    border-radius: 0;
    opacity: 0.9; }
    .movie-display #no-movies .oops-circle {
      width: 100%;
      margin: 0;
      overflow: hidden;
      max-height: 140px;
      min-height: 140px;
      padding: 0; }
    .movie-display #no-movies img {
      width: 210px;
      min-width: 210px;
      height: auto;
      margin-top: -15px; }
    .movie-display #no-movies .card-content-no-movies {
      min-height: 185px;
      opacity: 1;
      margin: 0;
      width: 100%;
      border: none; }
    .movie-display #no-movies .small-inline-icon {
      display: inline;
      font-size: 19px;
      padding: 0;
      margin-bottom: -6px; }
    .movie-display #no-movies p {
      margin: 0;
      padding: 1px 4px; }
    .movie-display #no-movies p:nth-of-type(1) {
      font-family: 'Amatic SC', cursive;
      font-weight: bold;
      font-size: 30px; }
    .movie-display #no-movies p:nth-of-type(2) {
      font-size: 15px;
      line-height: 100% !important; }
    .movie-display #no-movies p:last-of-type {
      margin: 5px 0 0;
      font-size: 16px;
      font-family: "Shadows Into Light", cursive; }
    .movie-display #no-movies .switch-to-add {
      margin: 3px 10px; }
  .movie-display .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0; }
  .movie-display .card-content {
    height: 100px;
    padding: 10px 2px 2px; }
  .movie-display .card-image {
    max-height: 225px;
    height: 225px !important;
    width: auto !important; }
  .movie-display img {
    max-height: 225px;
    width: auto !important;
    margin: 0 auto; }
  .movie-display .fixed-action-btn {
    position: relative;
    margin: 0;
    top: 4px;
    left: 0px;
    padding: 5px 0; }
    .movie-display .fixed-action-btn ul {
      width: 120px;
      margin-right: 62px; }
    .movie-display .fixed-action-btn .btn-floating {
      padding: 0 0 10px;
      margin: 0 -8px; }
    .movie-display .fixed-action-btn .btn-large {
      padding: 0;
      margin: 0; }
  .movie-display p:nth-of-type(1) {
    font-size: 16px;
    padding: 2px; }
  .movie-display .fixed-action-btn li {
    margin: 0;
    padding: 0; }
  .movie-display .btn-floating {
    padding: 0;
    margin: 0; }
  .movie-display .more-button {
    position: relative;
    top: -300px;
    left: 140px; }

nav .nav-img {
  width: 4.6%;
  margin: 3px 15px;
  border-radius: 50%; }

nav #main-nav-logo {
  top: -10px;
  padding-bottom: 0;
  font-family: 'Limelight', cursive; }

nav .subtitle {
  display: inline-block;
  position: absolute;
  top: 38px;
  left: 125px;
  margin: 0;
  font-size: 23px;
  font-family: 'Amatic SC', cursive; }

.mockmodalsubtitle {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.22), 0 12.5px px 0 rgba(0, 0, 0, 0.21);
  z-index: 1000;
  position: absolute;
  top: 1%;
  left: 2.5%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding-bottom: 20px;
  height: 70px;
  width: 15%;
  overflow-y: auto;
  border-radius: 10px; }
  .mockmodalsubtitle p {
    font-family: 'Limelight', cursive;
    margin-bottom: 15px;
    margin-top: -20px;
    padding: 0 3px;
    display: inline-block;
    font-size: 20px; }
  .mockmodalsubtitle i {
    margin: 0;
    display: inline-block;
    font-size: 30px;
    position: relative;
    top: 4px; }

.mockmodal:focus {
  outline: none; }

.star-rating {
  margin: 20px 10%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 7px;
  padding: 5px;
  display: block;
  width: 80%; }
  .star-rating .star {
    padding: 1px;
    color: #009688;
    text-shadow: 0.04em 0.04em rgba(0, 0, 0, 0.7);
    list-style-type: none;
    display: inline-block;
    cursor: pointer; }
  .star-rating .star i {
    font-size: 25px; }
  .star-rating.readonly .star.filled {
    color: #666; }

.login-reg .pagination {
  margin: 10px auto;
  padding: 0 1px 4px;
  width: 25%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px; }
  .login-reg .pagination .active {
    background-color: rgba(213, 0, 0, 0.9);
    margin-top: 4px; }
  .login-reg .pagination .waves-effect {
    background-color: rgba(0, 0, 0, 0.09);
    margin-bottom: 2px; }

.login-reg .btn {
  background-color: #d50000; }

#add-new-user {
  margin-left: -100px;
  width: 1000px !important;
  min-width: 1000px !important; }
  #add-new-user .reg-form {
    margin-top: 20px;
    width: 45%;
    margin-right: 90px;
    float: right; }

.mockmodal {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.22), 0 12.5px px 0 rgba(0, 0, 0, 0.21);
  z-index: 1000;
  position: absolute;
  top: 1%;
  left: 27%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2px;
  height: 70px;
  width: 50%;
  overflow-y: auto;
  border-radius: 10px; }
  .mockmodal .btn {
    background-color: #009688;
    margin: 10px 20px; }
  .mockmodal.switch {
    padding: 34px 8px 0;
    font-size: 13px;
    width: 17%;
    left: 81%; }
    .mockmodal.switch label {
      font-size: 13px; }
    .mockmodal.switch i:nth-of-type(1) {
      font-size: 22px;
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 25px; }
    .mockmodal.switch i:nth-of-type(2) {
      font-size: 22px;
      display: inline-block;
      position: absolute;
      top: 15px;
      left: 150px; }
    .mockmodal.switch .lever {
      margin: -10px 12px !important;
      position: relative;
      top: -10px;
      left: 0;
      right: 0; }

.mockmodal:focus {
  outline: none; }

body {
  background-color: #263238; }
