.main-container-bg {
  background: url(../img/film.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 80%; }

#main-container {
  width: 100%; }

.main-container {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  height: 500px;
  padding: 70px;
  text-align: center; }

.nav-img {
  width: 5.3%; }

.mockmodal {
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
  z-index: 1000;
  position: relative;
  top: -23%;
  left: 27%;
  background-color: #EE6E73;
  color: white;
  padding: 15px;
  height: 100px;
  width: 50%;
  overflow-y: auto;
  border-radius: 2px; }

.mockmodal:focus {
  outline: none; }

body {
  background-color: #263238;
  font-family: 'Acme', sans-serif; }
